/* Default font */
BODY { font-family: Tahoma, Arial, Sans-Serif; color: black; font-size: 10pt; margin: 0px; background-color: White; }
TD { font-family: Tahoma, Arial, Sans-Serif; color: black; font-size: 10pt; }

#theBody { overflow: hidden; margin-top: 0px; margin-bottom: 0px; }

.KeepAlive { display: none; border: none; }

#pageHeader { width: 100%; height: 60px; background-color: #007d93; border-collapse: collapse; border-spacing: 0; border-width:0px; }
#pageHeaderLeft { padding: 0px; }
#pageHeaderMiddle { vertical-align: bottom; padding: 0px 0px 3px 0px; width: 100px; }
#pageHeaderRight { width: 140px; text-align: right; vertical-align: bottom; padding: 0px; }

#pageContent { width: 100%; border-collapse: collapse; border-spacing: 0; border-width:0px; }
#pageContent > TBODY > TR > TD { padding: 10px; }

#DataGridSearchTable { width: 100%; margin-bottom: 2px; border-collapse: collapse; border-spacing: 0; border:0px none; }
#DataGridSearchTable > TBODY > TR > TD { padding: 0px; vertical-align:bottom; }

/* Upload Page */
#UploadedTemplatesGrid { width: 100%; border-collapse: collapse; border-spacing: 0; }
#UploadedTemplatesGrid > TBODY > TR > TD { padding: 2px; border: 1px solid #99B2CC;  }
#UploadedTemplatesGrid TR { vertical-align: top; }
#UploadedTemplatesGrid TEXTAREA { padding:0px; font-family: Arial; width: 100%; height:100%; margin:0px; overflow: auto; border:0px none; background-color: transparent; resize: none; }

#SP-Interview-Container { border-collapse: collapse; border-spacing: 0; width: 100%; }
#SP-Interview-Container > TBODY > TR > TD { padding: 0px; }

body a:link, a:visited, a:active { text-decoration: none; color: #CC0033; }
body a:hover { text-decoration: underline; }
a.HeaderLink:link, a.HeaderLink:visited { text-decoration: underline; color: White; }
.DataGrid { width: 100%; border-color: #99B2CC;  }

.InputField { font-family: Tahoma, Arial, Sans-Serif; }

.UnansweredWarnPanel { padding: 10px; background-color: #c4d7ef; /*#B3C5D9;*/ }

.ErrorMessage { color: Red; }

/* Page Header */
.hd-sp-title { font-family: Verdana, Tahoma, Sans-Serif; font-size: 24pt; font-weight: bold; white-space: nowrap; color: White; padding: 10px; }
.hd-sp-searchbox { float: right; line-height: 26px; }
.hd-sp-searchbox div { float: left; }

/* Data Grid Header */
.DataGridHeader { background-color: #c4d7ef; }
a.DataGridHeader:link, a.DataGridHeader:visited, a.DataGridHeader:active { text-decoration: none; color: White; }
a.DataGridHeader:hover { font-weight: bold; text-decoration: none; }

TR.EditItemStyle * input[type=text] { width: 100%; height: 100%; box-sizing: border-box; padding: 2px; border: 0px; }
TR.EditItemStyle TD { padding-top: 1px; padding-bottom: 1px; }
TR.EditItemStyle TD.hd-sp-gridItem { padding: 0px; border-width: 2px; }

/* Data Grid Item */
.DataGridItem { vertical-align: top; }
a.DataGridItem:link, a.DataGridItem:visited, a.DataGridItem:active { }
a.DataGridItem:hover { }

/* Data Grid Alternate Item */
.DataGridAlternateItem { vertical-align: top; }
a.DataGridAlternateItem:link, a.DataGridAlternateItem:visited, a.DataGridAlternateItem:active { }
a.DataGridAlternateItem:hover { }

/* Data Grid Selected Item */
.DataGridSelectedItem { }
a.DataGridSelectedItem:link, a.DataGridSelectedItem:visited, a.DataGridSelectedItem:active { }
a.DataGridSelectedItem:hover { }

/* Data Grid Pager */
.DataGridPager { background-color: #c4d7ef; }
a.DataGridPager:link, a.DataGridPager:visited, a.DataGridPager:active { }
a.DataGridPager:hover { }

/* Images */
.hd-sp-img { background-image: url(SamplePortal.png); background-repeat: no-repeat; height: 20px; width: 20px; }

/* Icons */
.hd-sp-img-clear { background-position: 0px 0px; margin-top: 3px; }
.hd-sp-img-search { background-position: -20px 0px; margin-top: 3px; }
.hd-sp-img-frm { background-position: -40px 0px; }
.hd-sp-img-txt { background-position: -60px 0px; }
.hd-sp-img-pdf { background-position: -80px 0px; }
.hd-sp-img-zip { background-position: -100px 0px; }
.hd-sp-img-blank { background-position: -120px 0px; }

/* Top Banner Images */
.hd-sp-img-header { background-position: 0px -20px; height: 60px; width: 540px; }
.hd-sp-img-hds { background-position: -540px -20px; height: 60px; width: 120px; float: right; }

