*.suo
*.bak
*.cache
*.vspscc
*.vssscc
TestResults/*
HotDocs.Sdk/obj
HotDocs.Sdk/bin
HotDocs.Sdk.Cloud/obj
HotDocs.Sdk.Cloud/bin
HotDocs.Sdk.DataServices/obj
HotDocs.Sdk.DataServices/bin
HotDocs.Sdk.Server/obj
HotDocs.Sdk.Server/bin
HotDocs.Sdk.Server.Contracts/push.bat
HotDocs.Sdk.Server.Contracts/obj
HotDocs.Sdk.Server.Contracts/bin
HotDocs.Sdk.ServerTest/obj
HotDocs.Sdk.ServerTest/bin
HotDocs.SdkTest/bin
HotDocs.SdkTest/obj
SamplePortal/Docs
SamplePortal/Installs
SamplePortal/WebApp/Bin
SamplePortal/Files/Documents/*
SamplePortal/Files/Cache/*
SamplePortal/Files/Answers/*
SamplePortal/Files/Templates/*.dir/*
Help/Help/*
SamplePortal/Files/Templates/TestTemplates/*.dir/*
