<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- Settings for Web Service -->
    <add key="WebServiceEndPoint" value="BasicHttpBinding_IHDSvc" />

    <!-- Settings for Cloud Services -->
    <add key="SubscriberID" value="" />
    <add key="SigningKey" value="" />
    <add key="CloudServicesAddress" value="" />

    <!-- Required Defaults for Unit Tests -->
    <add key="EncryptionKey" value="ChangeThisKeyBeforeUse" />
    <add key="PostInterviewUrl" value="DefaultPostInterviewUrl" />
    <add key="InterviewRuntimeUrl" value="DefaultInterviewRuntimeUrl" />
    <add key="StyleSheetUrl" value="DefaultStylesheetUrl" />
    <add key="InterviewTheme" value="DefaultThemeName" />
    <add key="GetInterviewFileUrl" value="DefaultInterviewFileUrl" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHDSvc" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288"
                 maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="500000" maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHDSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                 sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
                 hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                 messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="500000" maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55383/HDSvc.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHDSvc" contract="HotDocs.Sdk.Server.Contracts.IHDSvc"
                name="BasicHttpBinding_IHDSvc" />
      <endpoint address="http://localhost:55383/HDSvc.svc/secure" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHDSvc" contract="HotDocs.Sdk.Server.Contracts.IHDSvc"
                name="WSHttpBinding_IHDSvc">
        <identity>
          <userPrincipalName value="fjerstadj@hotdocs.dev" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>