<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="customDataSources" type="HotDocs.Sdk.CustomDataSourcesSection, HotDocs.Sdk"/>
	</configSections>
	<appSettings>

		<!-- Sample Portal Settings -->
		<add key="SiteName" value="HotDocs SDK Sample Portal"/>
		<!--The key for encrypting private stuff.-->
		<add key="EncryptionKey" value="ChangeThisKeyBeforeUse"/>
		<add key="DebugApplication" value="true"/>
		<add key="MaxTitleLength" value="255"/>
		<add key="MaxDescriptionLength" value="4000"/>

		<!-- HdsRoute: "LOCAL" (local HotDocs Server - default), "WS" (web service), "CLOUD" (Cloud Services) -->
    <add key="HdsRoute" value="LOCAL"/>

		<!-- Settings for Local HotDocs Server -->
		<add key="HDServerFilesUrl" value="http://localhost/HDServerFiles"/>

		<!-- Settings for Web Service -->
		<add key="WebServiceEndPoint" value="BasicHttpBinding_IHDSvc"/>
		<add key="HDServerFilesWS" value="http://localhost/HDServerFiles"/>

		<!-- Settings for Cloud Services -->
		<add key="SubscriberID" value="HobbleCreekCo"/>
		<add key="SigningKey" value="cRukDZTliXFuQeky"/>
		<add key="HDServerFilesCloud" value="http://files.hotdocs.ws/serverfiles"/>
		<!-- Leave empty to use the default address (https://cloud.hotdocs.ws) -->
		<add key="CloudServicesAddress" value=""/>

		<!-- Settings common to all routes -->
		<add key="InterviewRuntimeUrl" value="HDServerFiles/js"/>
		<add key="StyleSheetUrl" value="HDServerFiles/stylesheets"/>
		<add key="InterviewTheme" value="hdsuser"/>
		<add key="PostInterviewUrl" value="Disposition.aspx"/>
		<add key="InterviewDefinitionUrl" value="GetInterviewDef.ashx"/>
		<add key="InterviewImageUrl" value="GetImage.ashx"/>
		<add key="DocumentPreviewUrl" value="GetDocPreview.ashx"/>
		<add key="SaveAnswersUrl" value="SaveAnswers.aspx"/>

		<!-- InterviewFormat: "JavaScript", "Silverlight", or "" (server default) -->
		<add key="InterviewFormat" value=""/>
		<!-- InterviewFallback: If the interview format is Silverlight and fallback is true (it is true by default), then JavaScript interviews will be used if the browser does not support Silverlight. -->
		<add key="InterviewFallback" value="true"/>

		<!-- Relative file paths are relative to the "SamplePortal\Files" directory.
         If templates, etc. are stored in another location, absolute paths may
         be used instead.
    -->
		<add key="TemplatePath" value="Templates"/>
		<add key="AnswerPath" value="Answers"/>
		<add key="DocumentPath" value="Documents"/>
		<add key="CachePath" value="Cache"/>
		<add key="TempPath" value="Cache\Tmp"/>
		<add key="AssembleHPTToPDF" value="true"/>

		<!-- Data settings -->
		<add key="DefaultAnswerTableSortExpression" value="LastModified DESC"/>
		<add key="DefaultTemplateTableSortExpression" value="Title"/>
		<add key="AnswerGridPageSize" value="5"/>
		<add key="TemplateGridPageSize" value="15"/>
		<add key="UploadGridPageSize" value="0"/>

		<!-- Specifies the answer file data service address, if any, to send down to the browser. -->
		<add key="AnswerFileDataService" value="AnswerFileDataService.svc"/>

	</appSettings>
	<!-- Specifies the data service address to use for each custom data source. The name corresponds to the answer source name
       specified in the Options tab of the Dialog component editor. The address is the Url of the custom data service that 
       should be queried to get the data for the custom data source. -->
	<customDataSources>
		<add name="Employees" address="CustomDataService.svc"/>
		<add name="Managers" address="CustomDataService.svc"/>
	</customDataSources>

	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.VisualC, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<!-- turn off kernel-mode caching and set the maxRequestLength to 32mb to allow large template sets to be uploaded-->
		<httpRuntime enableKernelOutputCache="false" maxRequestLength="32768"/>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
          
          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="Off"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
          
          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="None"/>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*"/>
		</authorization>
		<identity impersonate="false"/>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" cookieless="false" timeout="60"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<httpHandlers>
			<add verb="*" path="HDServerFiles/*" type="SamplePortal.HDServerFilesHandler"/>
			<add verb="*" path="HDServerFiles/*/*" type="SamplePortal.HDServerFilesHandler"/>
			<add verb="*" path="HDServerFiles/*/*/*" type="SamplePortal.HDServerFilesHandler"/>
			<add verb="*" path="HDServerFiles/*/*/*/*" type="SamplePortal.HDServerFilesHandler"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="HDServerFiles" path="HDServerFiles/*/*" verb="*" type="SamplePortal.HDServerFilesHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IHDSvc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1000000" maxBufferPoolSize="1524288" maxReceivedMessageSize="1000000" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="500000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<!-- Set the address attribute of the following endpoint element to point to the web service. -->
			<endpoint address="http://localhost:51568/HDSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHDSvc" contract="HotDocs.Sdk.Server.Contracts.IHDSvc" name="BasicHttpBinding_IHDSvc"/>
		</client>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>